body{
    background-color: rgb(124, 180, 111);
    color: black;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman';
    margin-left: 100px;
    margin-right: 100px;
}

header{
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.logo{
    width: 57px;
    height: 57px;
}

.cesta{
    width: 50px;
}

.btnAction{
    width: 30px;
}

.contenedor {
    display: table;
    width: 98%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contenidos {
    display: table-row;
    text-align: center;
}

#columna1{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    align: middle;
    width: 33%;
    display: flex;
}

.titulo{
    padding-left: 10px;
}

#columna2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 33%;
}

#columna3 {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    background-color: transparent;
    border-color: transparent;
    width: 33%;
}

section{
    border-color: black;
    background-image: url("../Documents/corcho.jpg");
    background-color: rgb(190, 134, 88);
    background-position-x:center;
    background-position-y:center;
    background-size: 100%;
    border-width: 2px;
    border-style: solid;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 10%;
    margin-right: 10%;
    height: 900px;
}

.contentTextForm{
    width: 30%;
    height: auto;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    background-image: url("../Documents/postit.png");
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 100%;
    margin-left: 36%;
    margin-right: 36%;
}

.login-page {
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.form {
    max-width: 360px;
    text-align: center;
    margin-top: 35%;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(73, 72, 72);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button a{
    text-decoration: none;
    color: white;
}

.form button:hover,.form button:active,.form button:focus {
    background: rgb(121, 118, 118);
}

.form .message {
    font-family: "Roboto", sans-serif;
    margin: 15px 0 0;
    color: #000000;
    font-size: 80%;
}

.form .message a {
    font-family: "Roboto", sans-serif;
    color: #4CAF50;
    text-decoration: none;
}

footer{
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.footerText{
    text-align: left;
    margin-left: 20px;
}

#btnContactanos{
    background-color: transparent;
    border-color: transparent;
    font-size: 17px;
    font-family: 'Times New Roman';
}

#btnContactanos a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1000px) {
    body{
        font-size: 12px;
        margin-left: 0px;
        margin-right: 0px;
    }

    header{
        margin-left: 0%;
        margin-right: 0%;
    }

    section{
        margin-left: 0%;
        margin-right: 0%;
        height: 83%;
    }

    footer{
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media screen and (max-width:750px) {
    body{
        font-size: 12px;
        margin-left: 10%;
        margin-right: 10%;
    }

    header{
        margin-left: 0%;
        margin-right: 0%;
    }

    section{
        margin-left: 0%;
        margin-right: 0%;
        height: 83%;
    }

    footer{
        margin-left: 0%;
        margin-right: 0%;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .cesta{
        width: 33px;
    }

    .btnAction{
        width: 10px;
    }

    #btnContactanos{
        font-size: 12px;
    }

    .contentText{
        display: grid;
        width: 98%;
    }
    
    .contenidos2 {
        display: grid;
        text-align: center;
    }
}

@media screen and (max-width:500px) {
    body{
        font-size: 12px;
        margin-left: 0px;
        margin-right: 0px;
    }

    header{
        margin-left: 0%;
        margin-right: 0%;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .cesta{
        width: 33px;
    }

    .btnAction{
        width: 10px;
    }

    section{
        margin-left: 0%;
        margin-right: 0%;
        height: 83%;
    }

    .contentTextForm{
        width: 80%;
        height: 60%;
        margin-top: 10%;
        margin-bottom: 10%;
        background-size: 110%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .login-page {
        width: 80%;
        height: 90%;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .form {
        max-width: 360px;
        text-align: center;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    
    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    
    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: rgb(73, 72, 72);
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
    }

    footer{
        margin-left: 0%;
        margin-right: 0%;
    }

    #btnContactanos{
        font-size: 12px;
    }
}