body{
    background-color: rgb(124, 180, 111);
    color: black;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman';
    margin-left: 100px;
    margin-right: 100px;
}

header{
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.contenedor {
    display: table;
    width: 98%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contenidos {
    display: table-row;
    text-align: center;
}

#columna1{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    align: middle;
    width: 33%;
    display: flex;
}

.titulo{
    padding-left: 10px;
}

#columna2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 33%;
}

#columna3 {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    background-color: transparent;
    border-color: transparent;
    width: 33%;
}

#btnAniadir, #btnEliminar, #btnBuscar{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
}

#btnRegistrarse, #btnIniciarSesion{
    background-color: transparent;
    border-color: transparent;
    font-size: 17px;
    font-family: 'Times New Roman';
    position: relative;
    top: -7px;
}

#btnRegistrarse a{
    text-decoration: none;
    color: black;
}

#btnIniciarSesion a{
    text-decoration: none;
    color: black;
}

.content{
    border-color: black;
    background-image: url("../Documents/corcho.jpg");
    background-color: rgb(190, 134, 88);
    background-position-x:center;
    background-position-y:center;
    background-size: 100%;
    border-width: 2px;
    border-style: solid;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 10%;
    margin-right: 10%;
    height: 980px;
}

footer{
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#btnContactanos{
    background-color: transparent;
    border-color: transparent;
    font-size: 17px;
    font-family: 'Times New Roman';
}

#btnContactanos a{
    text-decoration: none;
    color: black;
}

.contentText{
    width: 50%;
    height: 80%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    background-image: url("../Documents/postit.png");
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 100%;
    margin-left: 26%;
    margin-right: 26%;
}

.compra{
    font-size: 200%;
    font-family: 'Times New Roman';
    text-align: justify;
    padding-top: 20%;
    padding-left: 15%;
}