body{
    background-color: rgb(124, 180, 111);
    color: black;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman';
    margin-left: 100px;
    margin-right: 100px;
}

header{
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.logo{
    width: 57px;
    height: 57px;
}

.cesta{
    width: 50px;
}

.btnAction{
    width: 30px;
}

.contenedor {
    display: table;
    width: 98%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contenidos {
    display: table-row;
    text-align: center;
}

#columna1{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    align: middle;
    width: 33%;
    display: flex;
}

.titulo{
    padding-left: 10px;
}

#columna2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 33%;
}

#columna3 {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    background-color: transparent;
    border-color: transparent;
    width: 33%;
}

#btnAniadir, #btnEliminar, #btnBuscar{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
}

#btnRegistrarse, #btnIniciarSesion{
    background-color: transparent;
    border-color: transparent;
    font-size: 17px;
    font-family: 'Times New Roman';
    position: relative;
    top: -7px;
}

#btnRegistrarse a{
    text-decoration: none;
    color: black;
}

#btnIniciarSesion a{
    text-decoration: none;
    color: black;
}

section{
    border-color: black;
    background-image: url("../Documents/corcho.jpg");
    background-color: rgb(190, 134, 88);
    background-position-x:center;
    background-position-y:center;
    background-size: 100%;
    border-width: 2px;
    border-style: solid;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 10%;
    margin-right: 10%;
    height: 1100px;
}

.contentText{
    display: table;
    width: 98%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.supermercados{
    font-size: 250%;
    font-family: "Roboto", sans-serif;
    margin-top: 5%;
}

#columnaM2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 10%;
    background-image: url("../Documents/papel.png");
    background-position-x:center;
    background-position-y:center;
    background-repeat: repeat-x;
    background-size: 40%;
    margin-right: 25%;
    margin-left: 25%;
}

.mapa{
    vertical-align: middle;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    width: 80%;
}

footer{
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.footerText{
    text-align: left;
    margin-left: 20px;
}

#btnContactanos{
    background-color: transparent;
    border-color: transparent;
    font-size: 17px;
    font-family: 'Times New Roman';
}

#btnContactanos a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1000px) {
    section{
        height: 100%;
    }

    .contentText{
        display: grid;
        width: 98%;
    }
    
    .contenidos2 {
        display: grid;
        text-align: center;
    }

    .supermercados{
        font-size: 150%;
    }
}

@media screen and (max-width:750px) {
    body{
        font-size: 12px;
        margin-left: 10%;
        margin-right: 10%;
    }

    header{
        margin-left: 0%;
        margin-right: 0%;
    }

    section{
        margin-left: 0%;
        margin-right: 0%;
        height: 83%;
    }

    .supermercados{
        font-size: 200%;
    }

    footer{
        margin-left: 0%;
        margin-right: 0%;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .cesta{
        width: 33px;
    }

    .btnAction{
        width: 10px;
    }

    #btnContactanos{
        font-size: 12px;
    }

    #btnAniadir, #btnEliminar, #btnBuscar{
        background-color: transparent;
        border-color: transparent;
        text-decoration: none;
        width: 15px;
    }

    #btnRegistrarse, #btnIniciarSesion{
        background-color: transparent;
        border-color: transparent;
        font-size: 12px;
        font-family: 'Times New Roman';
        position: relative;
        top: -7px;
    }

    .contentText{
        display: grid;
        width: 98%;
    }
    
    .contenidos2 {
        display: grid;
        text-align: center;
    }
}

@media screen and (max-width:500px) {
    body{
        font-size: 12px;
        margin-left: 0px;
        margin-right: 0px;
    }

    header{
        margin-left: 0%;
        margin-right: 0%;
    }

    section{
        margin-left: 0%;
        margin-right: 0%;
        height: 83%;
    }

    .supermercados{
        font-size: 150%;
    }

    footer{
        margin-left: 0%;
        margin-right: 0%;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .cesta{
        width: 33px;
    }

    .btnAction{
        width: 10px;
    }

    #btnContactanos{
        font-size: 12px;
    }

    #btnAniadir, #btnEliminar, #btnBuscar{
        background-color: transparent;
        border-color: transparent;
        text-decoration: none;
        width: 15px;
    }

    #btnRegistrarse, #btnIniciarSesion{
        background-color: transparent;
        border-color: transparent;
        font-size: 12px;
        font-family: 'Times New Roman';
        position: relative;
        top: -7px;
    }

    .contentText{
        display: grid;
        width: 98%;
    }
    
    .contenidos2 {
        display: grid;
        text-align: center;
    }
}