body{
    background-color: white;
    color: black;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman';
    margin-left: 100px;
    margin-right: 100px;
}

.header{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.leftH{
    text-align: left;
    margin-left: 20px;
}

.rightH{
    text-align: right;
    margin-right: 20px;
}

.content{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-top: -2px;
    margin-bottom: -2px;
}

.footer{
    border-color: black;
    border-width: 2px;
    border-style: solid;
}